= javascript_script_tag "assets/zepto.min.js"

-# Backbone
= javascript_script_tag "assets/underscore-min.js"
= javascript_script_tag "assets/backbone.min.js"

= javascript_script_tag "assets/backbone-unbindingview.js"

-# HTML5 Boilerplate
= javascript_script_tag "assets/modernizr-custom.js"

= javascript_script_tag "assets/handlebars-1.0.0.beta.6.js"

= javascript_script_tag "assets/application.js"

= javascript_script_tag "assets/base/core.js"

= javascript_script_tag "assets/boot.js"
